My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1400,
        -80
      ],
      "id": "bb2bbd04-cb7e-4ffd-8ccf-3985d3450fc9",
      "name": "When chat message received",
      "webhookId": "d5256c1f-9587-474a-b808-f8a0751928de"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1140,
        -80
      ],
      "id": "ef11c8e3-984a-4aa5-bbf3-c8435927ba68",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1280,
        220
      ],
      "id": "b17e0ded-cce1-4f5c-a2fb-b50ee25f4761",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "xpXgRfDMCUfQ3boG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -1080,
        240
      ],
      "id": "e6d333c4-b99c-4635-a63d-073110af9e82",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "nv33EMO1tNh4ol7V",
          "name": "N8N AI Agent - 28/11/2025 (Demo)"
        }
      }
    },
    {
      "parameters": {
        "name": "consultarPlanilha",
        "description": "Use essa tool quando o usuario desejar fazer uma pergunta associada a uma resposta da planilha."
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        -900,
        220
      ],
      "id": "cfddcf7d-e6cc-43f9-aede-a96e308a889b",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        -1060,
        440
      ],
      "id": "f7071131-e722-4572-85b8-d884883bec74",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "ECuWOsC2BatfKjne",
          "name": "Demo - 05/02/2025"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -720,
        380
      ],
      "id": "bce83352-0c83-468e-8670-dfcf7e754a2c",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "xpXgRfDMCUfQ3boG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1060,
        600
      ],
      "id": "e83cacaa-fc4d-4772-bdb2-faae7304ed38",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "xpXgRfDMCUfQ3boG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1CmcsC3-cUGRqu5EfKeeReywikhVK0VE7",
          "mode": "list",
          "cachedResultName": "documents",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1CmcsC3-cUGRqu5EfKeeReywikhVK0VE7"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -380,
        -40
      ],
      "id": "a9979cee-5cb7-4e41-8209-b2c17a1bd09f",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6eVMESH9InCAl7dK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51cc3b82-b21c-4996-832a-c4cc7208a307",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        -40
      ],
      "id": "f8e090fd-f2da-4b57-9482-de9cf5d2bc62",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{$json.id}}*"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        60,
        -40
      ],
      "id": "2664fcb3-eb97-4945-9d6a-6f167fda2809",
      "name": "Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "ECuWOsC2BatfKjne",
          "name": "Demo - 05/02/2025"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        280,
        -40
      ],
      "id": "9bf12226-d68e-494d-b8a1-55d7a3524dc1",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6eVMESH9InCAl7dK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        500,
        -40
      ],
      "id": "17b9622a-80c4-4fc2-b20e-f3480c7c378c",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        720,
        -40
      ],
      "id": "35d70f36-6f91-4c5d-bada-ed22a4b9bc29",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "ECuWOsC2BatfKjne",
          "name": "Demo - 05/02/2025"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        620,
        220
      ],
      "id": "eb59986f-a08f-41b7-8b4a-72ff77ff7311",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "xpXgRfDMCUfQ3boG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        720,
        240
      ],
      "id": "5a1a4ebb-3f48-48a6-84ef-00db76b66b33",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        820,
        460
      ],
      "id": "16d6648a-6c2f-491d-9d9e-95a89b962d7f",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7c37f61c-5f0a-4dd4-a974-f33cd0ccd2da",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4b932b8baf6c14754ca4ad545ab431e87404e3e9c56c6805a213af7c270410c8"
  },
  "id": "cyvH7rMYHa8ApWXr",
  "tags": []
}